@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styling For Website, will probably separate forms into its own component */
@layer base {
    h1{
        @apply text-3xl font-bold;
    }

    h2{
        @apply text-2xl;
    }

    li{
        @apply list-disc list-inside;
    }

    label{
        @apply block text-sm font-medium leading-6 text-gray-900;
    }

    /* Override defaults from tailwindcss-forms */
    /* [type="text"]{ */
    /*     @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 px-2 py-1.5; */
    /* } */
    /**/
    /* select{ */
    /*     @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 px-2 py-1.5 */
    /* } */

    /* [type='text']:focus, */
    /* [type='email']:focus, */
    /* [type='url']:focus, */
    /* [type='password']:focus, */
    /* [type='number']:focus, */
    /* [type='date']:focus, */
    /* [type='datetime-local']:focus, */
    /* [type='month']:focus, */
    /* [type='search']:focus, */
    /* [type='tel']:focus, */
    /* [type='checkbox']:focus, */
    /* [type='radio']:focus, */
    /* [type='time']:focus, */
    /* [type='week']:focus, */
    /* [multiple]:focus, */
    /* textarea:focus, */
    /* select:focus { */
    /* --tw-ring-color: var(--primary-color);*/
    /* border-color: var(--primary-color); */
    /* } */

}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
